.button{
    color: #11122b;
    background-color: #d8a01d;
    font-size: 1.25em;
    padding: 10px 25px;
    border: 1px solid #d8a01d;
    border-radius: 2px;
    outline: none;
    transition: 0.3s;
}

.button:active{
    box-shadow: 7px 4px 11px rgba(0, 0, 0, 0.4);
}

button:hover{
    filter: brightness(80%);
}

.centered-button-wrapper{
    display: flex;
    justify-content: center;
}

